@font-face {font-family: 'OpenSans';src: url('font/OpenSans.eot?#iefix') format('embedded-opentype'),  url('font/OpenSans.woff') format('woff'), url('font/OpenSans.ttf')  format('truetype'), url('OpenSans.svg#OpenSans') format('svg');font-weight: normal;font-style: normal;}
@font-face {font-family: OpenSans-Bold;src: url('font/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),  url('font/OpenSans-Bold.woff') format('woff'), url('font/OpenSans-Bold.ttf')  format('truetype'), url('font/OpenSans-Bold.svg#OpenSans-Bold') format('svg');font-weight: normal;font-style: normal;}
body{background: #0e8cc6;font-family: 'OpenSans', sans-serif;}
body h1.header{text-align: center;color: #fff;margin: 21px 0px;font-size: 30px;}
.logo{text-align: center;padding: 25px 0px;}
#main{padding: 0px 0px 20px;}
.bg{background: #fff;padding: 15px 15px;position: relative;}
button.my-btn, input.my-btn{background: #ccc;color: #000;border: 1px solid #ccc;width: 49%;padding: 10px 0px;text-transform: uppercase;font-size: 13px;transition: 0.3s all;}
.copy-paste-upload h2, .spreadsheet-upload h2, .send-sms h2, .send-voice-sms h2{font-size: 18px;font-weight: 400;margin: 15px 0px 8px;}
.copy-paste-upload ol{padding: 0 0 0 16px;margin: 0 0 20px 0;}
.copy-paste-upload ol li{font-size: 12px;margin-bottom: 5px;font-weight: 400;}
.copy-paste-upload textarea, .send-sms textarea{width: 100%;border: 3px solid #ccc;min-height: 180px;}
.spreadsheet-upload ul{padding: 0 0 0 16px;margin: 0 0 20px 0;}
.spreadsheet-upload ul li{font-size: 12px;margin-bottom: 10px;font-weight: 400;}
.spreadsheet-upload span{font-weight: 600;display: block;text-decoration: underline;font-size: 16px;}
.spreadsheet-upload p{font-size: 12px;font-weight: 400;}
.column-two .search-contact-1{height: 42px;padding: 0 10px;width: 100%;border: 3px solid #ccc;margin: 20px 0px;}
.column-two .search-contact-2{height: 42px;padding: 0 10px;width: 100%;border: 3px solid #ccc;margin: 20px 0px;}
.column-two ul{padding: 0;margin: 15px 0 15px 0;max-height: 200px;overflow: overlay;overflow-x: hidden;}
.column-two ul li{list-style-type: none;display: inline-block;width: 31%;margin-bottom: 15px;}
 input[type=checkbox]{margin: 0 3px 0 0;vertical-align: middle;display: inline-block;width: 15px;height: 15px;}
button.my-btn.active, input.my-btn.active{background: #0e8cc6;border: 1px solid #0e8cc6;color: #fff;}
*:focus {outline: none!important;}
input[type=submit]{width: 100%;font-size: 14px;border-radius: 0px;padding: 10px;margin: 10px 0px;background: #0e8cc6;border: 1px solid #0e8cc6;transition: 0.3s all;color:#fff;margin: 10px 0 5px;text-transform: uppercase;}
.checked-value-1 label, .checked-value-2 label {background: url(../images/menu-expand.png) no-repeat 4px 50% #000;color: #fff;display: inline-block;margin-right: 19px;border: 0;padding: 1px 5px 1px 16px;font-size: 13px;background-size: 9px auto;cursor: pointer;font-weight: normal;margin-bottom: 15px;}
.checked-value-1{max-height: 200px;overflow: overlay;overflow-x: hidden;margin-bottom: 15px;}
/*.checked-value-2 label {background: url(../images/menu-expand.png) no-repeat 4px 50% #000;color: #fff;display: inline-block;margin-right: 24px;border: 0;padding: 1px 5px 1px 16px;font-size: 13px;background-size: 9px auto;cursor: pointer;font-weight: normal;margin-bottom: 10px;}*/
.checked-value-2{max-height: 200px;overflow: overlay;overflow-x: hidden;}
.alert-success{margin-bottom: 0px;position: absolute;top: -36px;left: 0;right: 0;border-radius: 0;}
.alert-danger{border-radius: 0;position: absolute;top: -36px;left: 0;right: 0;z-index: 999;}
.numbers-filter-head{font-size: 14px;margin: 0 0 20px 0;background: rgba(204, 204, 204, 0.42);display: block;padding: 6px 10px;}
ul.contact{padding: 0;margin: 0;}
ul.contact li{list-style-type: none;display: inline-block;width: 40%;font-size: 16px;}
.voice{text-align: center;padding: 15px 0px;}
.voice img{width: 15%;}
.voice h6{font-size: 22px;}
#loader {  
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/pageLoader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}  
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default
{
	background:#0e8cc6;
	color:#fff;
	border:1px solid #0e8cc6;
}
.remaining-sms-count
{
	
padding-bottom: 15px;
}
.radio-contact
{
	
margin-left: 4px;
	
vertical-align: middle;
}
@media (max-width: 1200px){
	.bg{min-height: auto;}
}
@media (max-width: 992px){
	.bg:nth-child(1){margin-top: 20px;}	
	#main{padding: 0px;}
}